{{#if resume.awards.length}}
<section id="awards">
  <div class="left">
    <h2>Awards</h2>
  </div>

  <div class="right">
    {{#each resume.awards}}
    <div class="item">
      {{#if date}}
      <div class="date">
        {{date}}
      </div>
      {{/if}}
      {{#if title}}
      <h3 class="title">
        {{title}}
      </h3>
      {{/if}}
      {{#if awarder}}
      <h4 class="awarder">
        {{awarder}}
      </h4>
      {{/if}}
      {{#if summary}}
      <div class="summary">
        <p>{{summary}}</p>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
