{{#if resume.interests.length}}
<section id="interests">
  <div class="left">
    <h2>Interests</h2>
  </div>

  <div class="right">
    {{#each resume.interests}}
    <div class="item">
      {{#if name}}
      <span class="name">
        {{name}}
      </span>
      {{/if}}
      {{#if keywords.length}}
      <ul class="keywords inline comma">
        {{#each keywords}}
        <li>{{.}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
