/*===========================================================
  CSS Reset

  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
============================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;

  font: inherit;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-spacing: 0;

  border-collapse: collapse;
}

/*===========================================================
  JSON Resume - Theme styles
============================================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i');

* {
  box-sizing: border-box;
}

body {
  margin: 40px 0;

  color: #252525;
  background: #F6F9FC;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.3;
}

h1 {
  letter-spacing: 0.2px;

  font-size: 2rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 1.4rem;

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: rgba(36,36,36,0.80);

  font-size: 1rem;
  font-weight: 600;
}

h3 {
  margin-bottom: 0.4rem;

  color: #252525;

  font-size: 1.2rem;
  font-weight: 600;
}

h4 {
  margin-bottom: 0.4rem;

  letter-spacing: 0.5px;

  color: rgba(36,36,36,0.80);

  font-size: 0.9rem;
  font-weight: 600;
  font-style: italic;
}

a {
  text-decoration: none;

  color: rgba(36,36,36,0.40);
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.8;
}

em {
  color: rgba(36,36,36,0.40);

  font-size: 0.9rem;
  font-weight: normal;
}

strong {
  color: rgba(37,37,37,0.80);

  font-size: 0.9rem;
  font-weight: 600;
}

blockquote {
  position: relative;

  padding-top: 0.2rem;
  padding-left: 1.4rem;
}

blockquote:before {
  position: absolute;
  top: -10px;
  left: 0;

  content: '“';

  color: #D1D5D8;

  font-family: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 1.6rem;
  font-weight: 600;
}

li {
  padding: 0.4rem 0 0.4rem 1rem;

  line-height: 1.8;
}

li:before {
  display: inline-block;

  width: 1em;
  margin-left: -1em;

  content: '•';

  color: #D1D5D8;
}

ul.inline {
  display: inline-block;

  list-style-type: none;
}

ul.inline li {
  display: inline-block;

  margin-right: 0.6rem;
  padding: 0;

  line-height: 1;
}

ul.inline em {
  margin-left: 0.1rem;
}

ul.inline li:before {
  content: '';
  content: none;
}

ul.comma li {
  margin: 0;
}

ul.comma li:not(:last-of-type):after {
  content: ',';
}

section {
  clear: both;

  padding: 2rem 0;

  border-bottom: 1px solid #F1F2FB;
}

#resume {
  position: relative;

  max-width: 980px;
  margin: 0 auto;
  padding: 0;

  border-radius: 4px;
  background: #FFFFFF;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.05);
}

.left {
  position: absolute;
  left: 0;

  padding: 0 40px 0 80px;
  padding-top: 0.1rem;
}

.left h2 {
  color: #20476A;

  font-size: 1rem;
}

.right {
  padding: 0 80px 0 250px;
}

.date, .releaseDate {
  margin-bottom: 0.6rem;

  color: rgba(36,36,36,0.40);

  font-size: 0.9rem;
}

#basics {
  border-bottom: 2px solid #F1F2FB;
}

#basics img.picture {
  width: 100px;
  height: 100px;

  border-radius: 50%;
}

#location {
  margin-bottom: 0.4rem;
}

#basics .contact {
  color: rgba(36,36,36,0.40);

  font-size: 0.9rem;
}

#basics .contact span {
  display: inline-block;

  padding-bottom: 0.4rem;
}

#basics .contact a {
  margin-right: 1rem;
}

#profiles li a {
  color: rgba(36,36,36,0.60);
}

#profiles .network {
  margin: 30px 30px 0 0;
  padding: 0 0 0 40px;

  background-size: 30px 30px;

  line-height: 30px;
}

#work .item,
#volunteer .item,
#awards .item,
#publications .item {
  margin-bottom: 4rem;
}

#work .item:last-child,
#volunteer .item:last-child,
#awards .item:last-child,
#publications .item:last-child {
  margin-bottom: 0;
}

#work .website,
#volunteer .website,
#awards .website,
#publications .website {
  margin-bottom: 1.4rem;
}

#work .summary,
#volunteer .summary,
#awards .summary,
#publications .summary {
  margin-bottom: 1.2rem;
}

#skills .name,
#interests .name {
  display: inline-block;

  width: 150px;
  margin: 0 1.4rem 1.4rem 0;

  vertical-align: top;
  letter-spacing: 0.5px;

  color: rgba(36,36,36,0.80);

  font-weight: 600;
}

#skills .keywords {
  max-width: 470px;
}

#education .studyType {
  margin-bottom: 1.4rem;
}

#references .name {
  padding: 1.2rem 1.2rem 0 0;

  text-align: right;
}

.copy {
  margin: 1.4rem auto 4rem auto;

  text-align: center;

  color: #C2C6C9;

  font-size: 0.8rem;
}

.copy a {
  text-decoration: underline;

  color: #C2C6C9;
}

/*===========================================================
  Responsiveness
============================================================*/

@media (max-width: 980px) {
  #resume {
    max-width: none;
    margin: 1.4rem;
  }
}

@media (max-width: 800px) {
  .left {
    position: static;

    padding: 0 40px;
  }
  .right {
    padding: 0 40px;
  }
  .contact {
    margin-bottom: 1.2rem;
  }
  #basics .left, #basics .right {
    text-align: center;
  }
}

/*===========================================================
  Social icons
============================================================*/

#profiles .network.Twitter {
  background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 550 550' viewBox='0 0 550 550' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><g><circle cx='275' cy='275' fill='#2CBDE2' r='256'/><path d='M161.9,181.2c0,0,40.6,45.9,107.8,53.4c0,0-3.2-38.4,30.9-59.8c0,0,35.2-23.5,61.9,10.7     c0,0,25.6-5.3,35.2-11.7c0,0-7.5,14.5-20.3,27l28.8-5.7l-26.7,28.8c0,0,10.7,97.1-95.5,148.3c0,0-82.7,29.9-140.3-9.6     c0,0,70.4-10.7,77.9-26.7c0,0-37.4-4.3-47-36.3l20.3-1.1c0,0-35.2-3.2-39.5-53.4l23.5,3.2C179,248.4,141.6,237.8,161.9,181.2z' fill='#FFFFFF'/></g></g></svg>") no-repeat left top;
}

#profiles .network.SoundCloud {
  background: url("data:image/svg+xml;utf8,<svg style='enable-background:new 0 0 112.196 112.196;' viewBox='0 0 112.196 112.196' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><circle cx='56.098' cy='56.098' r='56.098' style='fill:#FF6A22;'/><g><path d='M16.707,68.833c-0.027,0.182-0.157,0.312-0.326,0.312c-0.169,0-0.299-0.13-0.325-0.316    l-0.593-4.438l0.593-4.512c0.025-0.188,0.155-0.318,0.325-0.318c0.168,0,0.298,0.13,0.326,0.318l0.706,4.517L16.707,68.833z     M19.728,71.529c-0.028,0.193-0.168,0.328-0.341,0.328c-0.168,0-0.315-0.135-0.338-0.328l-0.798-7.139l0.798-7.299    c0.024-0.188,0.17-0.328,0.338-0.328c0.173,0,0.313,0.137,0.341,0.328l0.908,7.299L19.728,71.529z M22.988,72.738    c-0.023,0.232-0.197,0.397-0.406,0.397c-0.216,0-0.387-0.165-0.408-0.397l-0.757-8.342l0.757-8.659    c0.019-0.235,0.192-0.403,0.408-0.403c0.209,0,0.382,0.168,0.406,0.403l0.859,8.659L22.988,72.738z M26.28,73.003    c-0.024,0.266-0.232,0.467-0.479,0.467c-0.253,0-0.46-0.201-0.481-0.467l-0.715-8.607l0.715-8.897    c0.021-0.268,0.228-0.469,0.481-0.469c0.247,0,0.455,0.201,0.479,0.469l0.811,8.897L26.28,73.003z M29.59,73.072    c-0.017,0.309-0.258,0.538-0.543,0.538c-0.294,0-0.527-0.229-0.547-0.538l-0.676-8.677l0.676-8.254    c0.021-0.307,0.253-0.536,0.547-0.536c0.29,0,0.526,0.229,0.543,0.532l0.766,8.258L29.59,73.072z M32.932,73.077v-0.005    c-0.02,0.342-0.291,0.612-0.617,0.612c-0.327,0-0.598-0.271-0.617-0.607l-0.631-8.677l0.631-13.429    c0.019-0.342,0.29-0.612,0.617-0.612c0.327,0,0.598,0.271,0.617,0.607l0.715,13.434L32.932,73.077z M36.249,73.072v-0.005    c-0.02,0.378-0.319,0.679-0.689,0.679c-0.363,0-0.663-0.301-0.681-0.679l-0.596-8.621l0.596-16.501    c0.018-0.378,0.318-0.677,0.681-0.677c0.37,0,0.669,0.299,0.689,0.677l0.671,16.501L36.249,73.072z M39.69,72.939v-0.005    c-0.015,0.421-0.346,0.748-0.753,0.748c-0.407,0-0.738-0.327-0.753-0.743l-0.553-8.533c0,0,0.553-17.876,0.553-17.881    c0.016-0.416,0.346-0.749,0.753-0.749c0.407,0,0.739,0.333,0.753,0.749l0.625,17.881L39.69,72.939z M43.111,72.882    c-0.016,0.458-0.375,0.817-0.822,0.817c-0.448,0-0.807-0.359-0.823-0.813l-0.516-8.482l0.516-18.478    c0.016-0.46,0.375-0.818,0.823-0.818c0.447,0,0.807,0.358,0.822,0.818l0.573,18.478L43.111,72.882z M46.554,72.807v-0.005    c-0.016,0.495-0.403,0.888-0.894,0.888c-0.484,0-0.879-0.393-0.888-0.883l-0.474-8.401L44.767,46.4    c0.014-0.502,0.408-0.89,0.893-0.89c0.491,0,0.878,0.388,0.894,0.89l0.532,18.006L46.554,72.807z M50.025,72.757V72.75    c-0.008,0.539-0.434,0.954-0.96,0.954c-0.53,0-0.95-0.415-0.966-0.947l-0.428-8.352L48.1,47.058    c0.016-0.538,0.436-0.959,0.966-0.959c0.526,0,0.952,0.421,0.96,0.959l0.485,17.352L50.025,72.757z M53.566,71.876l-0.043,0.818    c-0.005,0.285-0.125,0.543-0.308,0.729c-0.188,0.183-0.446,0.3-0.719,0.3c-0.318,0-0.598-0.146-0.79-0.376    c-0.142-0.167-0.23-0.383-0.24-0.61c-0.003-0.01-0.003-0.023-0.003-0.037c0,0-0.395-8.286-0.395-8.3l0.39-20.443l0.005-0.196    c0.003-0.358,0.193-0.677,0.477-0.86c0.159-0.106,0.347-0.168,0.557-0.168c0.206,0,0.401,0.064,0.564,0.177    c0.277,0.185,0.458,0.496,0.463,0.852l0.434,20.648L53.566,71.876z M57.007,72.587v-0.01c-0.007,0.604-0.502,1.096-1.1,1.096    c-0.6,0-1.094-0.492-1.1-1.091l-0.227-4.03l-0.223-4.138l0.45-22.406v-0.113c0.001-0.34,0.161-0.644,0.408-0.849    c0.189-0.155,0.432-0.249,0.692-0.249c0.207,0,0.399,0.057,0.563,0.153c0.313,0.196,0.532,0.543,0.542,0.94l0.487,22.523    L57.007,72.587z M86.74,73.695c0,0-27.683,0-27.712,0c-0.598-0.061-1.071-0.537-1.081-1.15V40.821    c0.01-0.584,0.211-0.885,0.963-1.174c1.941-0.752,4.139-1.196,6.398-1.196c9.215,0,16.766,7.069,17.567,16.074    c1.186-0.495,2.496-0.777,3.865-0.777c5.518,0,9.992,4.476,9.992,9.998C96.732,69.267,92.258,73.695,86.74,73.695L86.74,73.695z' style='fill:#F1F2F2;'/></g></g><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/><g/></svg>") no-repeat left top;
}

#profiles .network.Facebook {
  background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 550 550' viewBox='0 0 550 550' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><g><circle cx='275' cy='275' fill='#3F65A6' r='256'/><path d='M236.1,190.8c0,7.4,0,40.4,0,40.4h-29.6v49.4h29.6V416h60.8V280.5h40.8     c0,0,3.8-23.7,5.7-49.6c-5.3,0-46.2,0-46.2,0s0-28.7,0-33.8c0-5,6.6-11.8,13.2-11.8c6.5,0,20.3,0,33.1,0c0-6.7,0-30,0-51.4     c-17.1,0-36.5,0-45,0C234.6,134,236.1,183.4,236.1,190.8z' fill='#FFFFFF' /></g></g></svg>") no-repeat left top;
}

#profiles .network.Skype {
  background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 550 550' viewBox='0 0 550 550' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><g><circle cx='275' cy='275' fill='#2CBDE2' r='256'/><g><path d='M380,299c1.6-7.4,2.5-15,2.5-22.8c0-58.7-47.6-106.3-106.3-106.3c-6.2,0-12.3,0.5-18.2,1.5      c-9.5-6-20.7-9.5-32.8-9.5c-34.1,0-61.7,27.6-61.7,61.7c0,11.4,3.1,22,8.5,31.2c-1.4,6.9-2.1,14.1-2.1,21.4      c0,58.7,47.6,106.3,106.3,106.3c6.6,0,13.1-0.6,19.5-1.8c8.7,4.7,18.6,7.3,29.1,7.3c34.1,0,61.7-27.6,61.7-61.6      C386.4,316.5,384.1,307.3,380,299z' fill='#31A5DD'/><path d='M244.3,206.3L244.3,206.3c-8.9,3.3-15.9,8.1-20.6,14.3c-4.8,6.3-7.2,13.5-7.2,21.5      c0,8.4,2.3,15.6,6.9,21.3c4.5,5.6,10.6,10.1,18.3,13.4c7.5,3.2,16.8,6,27.9,8.3c8.1,1.7,14.7,3.3,19.5,4.8      c4.6,1.4,8.4,3.6,11.3,6.3c2.8,2.6,4.1,5.9,4.1,10.1c0,5.3-2.6,9.7-7.9,13.3c-5.4,3.7-12.6,5.6-21.4,5.6      c-6.4,0-11.6-0.9-15.5-2.8c-3.8-1.8-6.8-4.1-8.9-6.9c-2.2-2.9-4.2-6.5-6.1-10.8c-1.7-4-3.8-7-6.2-9.1c-2.6-2.2-5.7-3.3-9.4-3.3      c-4.5,0-8.2,1.4-11.1,4.1c-2.9,2.8-4.4,6.2-4.4,10c0,6.2,2.3,12.7,6.8,19.2c4.5,6.4,10.4,11.7,17.5,15.5c10,5.3,22.8,8,38.1,8      c12.7,0,23.9-2,33.2-5.8c9.4-3.9,16.7-9.4,21.6-16.4c4.9-7,7.4-15,7.4-23.7c0-7.3-1.4-13.6-4.3-18.7c-2.9-5.1-6.9-9.4-12-12.7      c-5-3.2-11.1-6-18.2-8.3c-7-2.2-14.9-4.3-23.5-6.2c-6.8-1.6-11.8-2.8-14.7-3.6c-2.9-0.8-5.8-1.9-8.6-3.3c-2.7-1.3-4.8-3-6.3-4.8      c-1.4-1.8-2.1-3.8-2.1-6.2c0-4,2.2-7.3,6.6-10.2c4.6-3,10.8-4.5,18.4-4.5c8.2,0,14.2,1.4,17.7,4.1c3.7,2.8,6.9,6.8,9.5,11.8      c2.3,4,4.4,6.7,6.3,8.5c2.1,1.9,5.2,2.9,9.2,2.9c4.3,0,8-1.5,10.9-4.6c2.9-3,4.3-6.5,4.3-10.3c0-4-1.1-8-3.3-12.1      c-2.2-4-5.7-7.9-10.3-11.6c-4.6-3.6-10.6-6.6-17.6-8.7c-7-2.2-15.3-3.3-24.8-3.3C263.6,201.4,253.1,203,244.3,206.3z' fill='#FFFFFF'/></g></g></g></svg>") no-repeat left top;
}

#profiles .network.LinkedIn {
  background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 550 550' viewBox='0 0 550 550' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><g><circle cx='275' cy='275' fill='#04689B' r='256'/><path d='M219.2,366.5h-38.8V242.2h38.8V366.5z M198.8,226.6h-0.3c-14.1,0-23.2-9.5-23.2-21.6     c0-12.3,9.4-21.6,23.7-21.6c14.3,0,23.1,9.3,23.4,21.5C222.5,217.1,213.4,226.6,198.8,226.6z M374.6,366.5h-44v-64.3     c0-16.8-6.9-28.3-22-28.3c-11.6,0-18,7.7-21,15.2c-1.1,2.7-0.9,6.4-0.9,10.2v67.3H243c0,0,0.6-113.9,0-124.3h43.6v19.5     c2.6-8.5,16.5-20.7,38.8-20.7c27.6,0,49.3,17.9,49.3,56.4V366.5z' fill='#FFFFFF'/></g></g></svg>") no-repeat left top;
}

#profiles .network.GitHub {
  background: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 550 550' viewBox='0 0 550 550' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><g><g><circle cx='275' cy='275' fill='#BF5B94' r='256'/><path d='M484.7,292.1c0.1,0,0.3,0.1,0.4,0.2c0,0,0.1,0,0.1,0.1c0.1,0,0.2,0.1,0.3,0.2c0,0,0.1,0.1,0.1,0.1     c0.1,0.1,0.2,0.1,0.3,0.2c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.4,0.3c0,0,0,0,0.1,0c0.1,0.1,0.3,0.2,0.4,0.4     c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0.1,0.1,0.1c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0.1,0.1,0.1,0.1     c0.1,0.1,0.3,0.3,0.4,0.4v-9.1c-20.6,0-40.6,0-61,0c0.6-9.2,2-18.7,1.6-28.1c-0.8-20.4-8.1-38.6-19.5-55.5     c-2.2-3.3-2.6-8.6-2.3-12.8c1.1-16,4.3-31.9,3.9-47.8c-0.4-17.6-7.4-21.7-24.6-17.7c-2.7,0.6-5.4,1.4-8,2.2     c-12.1,4-23,10.3-32.1,19.6c-4.4,4.5-8.5,5.1-14.6,3.3c-30.9-9.6-62.1-10.1-93.1-0.9c-8.2,2.4-13.2,0.8-19-4.6     c-12.9-12.1-28.3-18.5-45.9-20.8c-9.2-1.2-13.9,3.2-14.4,10.3c-1.1,14.5-2.4,29.5,0.3,43.6c2.5,13.1,0.8,22.8-6.5,33.9     c-13.5,20.4-18,43.4-13.5,67.8c0.4,2,0.2,4.1,0.4,7.8c-8.2-0.5-15.3-1.5-22.4-1.3c-17.4,0.5-34.8,1.2-52.1,2.6     c-1.5,0.1-2.8,0.2-4,0.2v6c25.2-7.8,76.3-6.3,82.4,4c-27.7-2.5-54.7-3.4-80.4,9.3c0.2,1.3,0.5,2.6,0.7,3.9     c11.9-3.1,24-6.5,36.2-9.1c5.3-1.1,11,0,16.4-0.4c17.9-1.5,30.8,2.4,42.2,19.8c10.2,15.6,24.6,25.2,40.8,31.7     c11.9,4.7,24.7,7.8,37.6,10.3c1.6,0.3,3.1,0.6,4.5,0.8C229,389.7,207,395.9,181,394.2c-4.3-0.3-8.1-1.2-11.6-2.7     c-9.3-3.8-16.2-11.2-22.5-19.5c-7.7-10.2-16.9-18-30-19.6c-3.1-0.4-6.2,0.4-7.4,0.5c12.8,18.2,25.2,36.4,38.1,54.2     c1.6,2.2,3.3,4.1,5.2,5.7c8.8,7.7,20.3,9.6,32.2,10.1c9.2,0.3,18.3,0.1,27.4,0.1c0,14.4,0,27.9,0,41.3h20.5     c-0.3-5.9-0.1-11.9,0.3-17.8c0.4-6.4,3.8-12.3,10.7-10.5c3.8,1,8.6,6.7,9.1,10.8c0.7,5.7,0.8,11.5,0.7,17.5h19.9     c-0.1-10.5-0.2-21,0.6-31.4c0.2-3.4,6.9-9.6,9.5-9c4,0.9,9.8,6.1,10.1,9.9c0.8,10,0.7,20,0.6,30.5h20c-0.1-6.7-0.2-12.9,0.6-19.1     c0.5-3.6,6.1-9,9.4-9c3.3,0,8.6,5.2,9.5,9c1.4,6.1,1.7,12.8,0.7,19.1h18.3c1.1-0.4,2.2-0.8,3.3-1.3c-1.5-18.3-1.7-35.6-4.7-52.5     c-3.1-17.9-13.3-32.6-26.6-44.9c14.9-4.7,29.6-8.4,43.7-14c22-8.7,39.1-23.4,50.5-44.6c1.5-2.8,5.2-6,8.1-6.3     c0.6-0.1,1.2-0.1,1.9-0.2c0.3,0,0.5,0,0.8-0.1c0.3,0,0.7-0.1,1-0.1c0.3,0,0.7-0.1,1-0.1c0.3,0,0.5,0,0.8-0.1     c0.4,0,0.8-0.1,1.2-0.1c0.2,0,0.4,0,0.7,0c0.4,0,0.9-0.1,1.3-0.1c0.2,0,0.4,0,0.6,0c0.4,0,0.9-0.1,1.3-0.1c0.2,0,0.3,0,0.5,0     c0.5,0,0.9-0.1,1.4-0.1c0.2,0,0.3,0,0.5,0c0.5,0,1,0,1.4-0.1c0.1,0,0.3,0,0.4,0c0.5,0,1,0,1.5-0.1c0.1,0,0.3,0,0.4,0     c0.5,0,1,0,1.5,0c0.1,0,0.2,0,0.4,0c0.5,0,1,0,1.5,0c0.1,0,0.2,0,0.3,0c0.5,0,1,0,1.5,0c0.1,0,0.2,0,0.3,0c0.5,0,1,0,1.6,0     c0.1,0,0.2,0,0.3,0c0.5,0,1.1,0,1.6,0c0.1,0,0.2,0,0.3,0c0.5,0,1.1,0,1.6,0c0.1,0,0.2,0,0.3,0c0.5,0,1.1,0,1.6,0.1     c0.1,0,0.2,0,0.2,0c0.5,0,1.1,0.1,1.6,0.1c0.1,0,0.2,0,0.2,0c0.6,0,1.1,0.1,1.7,0.1c0.1,0,0.1,0,0.2,0c0.6,0,1.1,0.1,1.7,0.1     c0.1,0,0.1,0,0.2,0c0.6,0,1.1,0.1,1.7,0.2c0.1,0,0.1,0,0.2,0c0.6,0.1,1.1,0.1,1.7,0.2c0.1,0,0.1,0,0.2,0c0.6,0.1,1.1,0.1,1.7,0.2     c0.1,0,0.1,0,0.2,0c0.6,0.1,1.2,0.2,1.7,0.2c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.2,1.8,0.3c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.2,1.8,0.3     c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.2,1.8,0.3c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.2,1.8,0.4c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.3,1.8,0.4     c0,0,0.1,0,0.1,0c0.6,0.1,1.2,0.3,1.9,0.5c0,0,0,0,0.1,0c0.6,0.2,1.2,0.3,1.9,0.5c0,0,0,0,0,0c0.6,0.2,1.3,0.4,1.9,0.5     c0,0,0,0,0,0c0.6,0.2,1.3,0.4,1.9,0.6c0.4-2.4,0.8-4.9,1.2-7.3c-0.2,0-0.4,0-0.6,0c-21-1.1-39.7-2.1-57.5-3.1     c-1.1-0.1-2.3-0.1-3.4-0.2C432,288.9,468.4,286.8,484.7,292.1z' fill='#FFFFFF'/></g></g></svg>") no-repeat left top;
}
